@use "./variables" as v;
@use "./mixins" as m;
header {
    height: 75px;
    width: 100%;

    background-color: v.$layout-background-color;
  
    nav {
      height: 100%;
      padding-left: 2em;
      padding-right: 2em;
  
      display: flex;
      justify-content: space-between;
      align-items: center;

      .the-zoo {
        a{
          font-family: v.$label-font-family;
          font-weight: 600;
          font-size: 20px;
          color: #72bf44;
        
          @include m.forDesktop(desktop) {
            font-size: 28px;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
  
      ul {
        list-style: none;
        display: flex;
        gap: 1em;

        @include m.forDesktop(desktop) {
           gap: 1.5em;
        }
      }
  
      a {
        font-family: v.$primary-font-family;
        font-weight: 400;
        color: v.$primary-color;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;

        @include m.forDesktop(desktop) {
            font-size: 18px;
        }

        &:hover {
            text-decoration: underline;
        }
      }
    }
  }