@use "variables" as v;

@mixin forDesktop($style) {
    @if $style == desktop {
      @media screen and (min-width: v.$desktop) {
        @content;
      }
    }
  }

@mixin fedAnimal{
  display: flex;
  justify-content: center;
  color: v.$primary-color;
  margin-left: 0;
  padding: 5px;
  border-style: none;
  border-radius: 3px;

  font-family: v.$primary-font-family;
  font-size: 14px;
}