@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

$primary-font-family: "Poppins", serif;
$label-font-family: "DynaPuff", serif;

$primary-color: #000000;
$secondary-color: #ffffff;
$layout-background-color: #fcf8ed;

$isfed-false: #f4aaaa;
$isfed-true: #e2e2e2;

$desktop: 768px;