@use "./variables" as v;
@use "./mixins" as m;

.return-to-animals {
    display: flex;
    margin-left: 1.5em;
    margin-bottom: 2em;
    background-color: v.$secondary-color;
    border-style: none;
    border-radius: 3px;
    border: 1px solid v.$primary-color;

    font-family: v.$primary-font-family;
    font-size: 14px;
    color: v.$primary-color;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 5px;
    margin-top: 2em;
    cursor: pointer;
}

.detail-container {
    display: flex;
    flex-direction: column;
    

    @include m.forDesktop(desktop) {
        width: 80%;
        flex-direction: row;
        margin: 0 auto;
    }

    .img-detailpage {
        width: 90%;
        margin: 0 auto;

        @include m.forDesktop(desktop) {
            width: 40%;
            margin-bottom: 2em;
        }
        img {
            height: auto;
            width: 100%;
            border-radius: 10px; 
            object-fit: cover;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }
    }
    
    .detail-info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        gap: 20px;
        padding: 1em;

        @include m.forDesktop(desktop) {
            width: 40%;
            text-align: left;
            align-items: flex-start;
        }

        h3 {
            font-family: v.$h3-font-family;
        }

        p {
            font-family: v.$primary-font-family;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 0.5px;
        }

        .hungry {
            @include m.fedAnimal;
            background-color: v.$isfed-false;
            cursor: pointer;
        }
    
        .isfed {
            @include m.fedAnimal;
            background-color: v.$isfed-true;
        }
    }
}