@use "./variables" as v;
@use "./mixins" as m;

.animal-container {
    display: flex;
    flex-direction: column;

    @include m.forDesktop(desktop) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.animal-card {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 2em;
    background-color: rgb(244, 170, 170);

    @include m.forDesktop(desktop) {
        width: 30%;
    }

        .img-container {
            padding: 20px;

            img {
                height: auto;
                width: 90%;
                object-fit: cover;

                @include m.forDesktop(desktop) {
                    height: 350px;
                }
            }
        }
}